<div>
  <div>
    <%= link_to 'All Registartions', registration_path %>
  </div>
  <div>
    <%= link_to 'Edit', edit_registration_path(@reg) %>
  </div>
  <div>
    Registrar: <!-- TODO add link to registrar -->
  </div>
  <div>
    Registration: <%= @reg.registration %>
  </div>
  <div>
    Note: <%= @reg.note %>
  </div>
</div>
