<div class="badge right">
  <div class="type">
    Invoice
  </div>
  <table>
    <tbody>
      <tr>
        <td>Date:</td>
        <td><%= Date.today %></td>
      </tr>
      <tr>
        <td>Invoice #</td>
        <td><%= @purchase.id %></td>
      </tr>
      <tr>
        <td>Customer ID</td>
        <td><%= @purchase.user.id %></td>
      </tr>
      <% if defined? remittance %>
        <tr><td class="spacer"></td></tr>
        <tr>
          <td>AMOUNT ENCLOSED</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
