<div class="badge right">
  <div class="type">
    Release Order
  </div>
  <table>
    <tbody>
      <tr>
        <td>Date:</td>
        <td><%= Date.today %></td>
      </tr>
      <tr>
        <td>RO #</td>
        <td><%= @purchase.id %>.<%= @storagefacility.id %>-<%= @seller.id %></td>
      </tr>
    </tbody>
  </table>
</div>
