<div>Your order requires special considerations. For example: some fees, such as shipping costs, could not be automatically calculated. You will receive an invoice once your order has been cleared for payment.</div>

<div style="margin-top: 1.5em;">Your order number is <%= @purchase.id %></div>
