<em>This is not a completed invoice, and should not be paid!</em>
Your order requires special considerations, some fees, such as shipping costs, could not be automatically calculated. You will receive a completed invoice once your order has been cleared for payment.



<div class="invoice">
  <div class="items">
    <%= render 'invoice_transactions' %>
  </div>
  <div class="totals">
    <%= render 'invoice_totals' %>
  </div>
  <div class="warning">
    Do Not Pay! This is not an invoice
  </div>
</div>

Your order number is <%= @purchase.id %>
