<%= render 'header', badge: 'receipt_badge' %>

<div class="raw-content">
  <h2>Thank you for your order</h2>
  <div>We will ship your order as soon as possible. You will recieve a followup email with your tracking information.</div>

  <div>Keep this receipts for your records </div>
</div>
<%= render 'invoice_template' %>
