<%= link_to 'Add Animal', new_animal_path %>
<table>
  <thead>
  <tr>
    <th>Animal</th>
    <th>Breed</th>
    <th>Owner</th>
  </tr>
  </thead>
  <tbody>
  <% @animals.each do |animal| %>
      <tr>
        <td><%= link_to animal.name, animal %></td>
        <td><%= animal.breed ? animal.breed.breed_name : "Error: no breed" %></td>
        <td><%= link_to animal.owner.get_name, animal.owner %></td>
      </tr>
  <% end %>
  </tbody>
</table>
