<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <div class="letterhead">
      <div class="coname">
        <!-- image here -->
        <h3>
          SemenHub
        </h3>
      </div>
      <div class="name">
        Craig Perez
      </div>
      <div class="line1">
        P.O. BOX 327
      </div>
      <div class="line2">
        Cleburne, TX 76033
      </div>
      <hr/>
    </div>
    <%= yield %>
  </body>
</html>
